body {
  background-color: black;
  color: white;
  padding: 30px;
}

.wrapper {
  display: flex;
  padding: 30px;
}

.left-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.movie-item-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 10px;
}